#title{
    background-color:#ff4c68;
}

h2{
    font-family: 'Montserrat', sans-serif;
    size: 3rem;
    line-height: 1.5;
    font-size: 50px;
    
}
.container-fluid{
    padding: 3% 15%;
}
.btn{
    font-style: italic;
   
}

.navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

#navbarSupportedContent{
    font-size: 27px;
}

.catsiton{
      
        margin-top:120px;
        position: absolute;
      
}