/*Head of the site*/

#title {
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
}

/*body */
body{
    text-align: center;
}

h1, h2, h3, h4 ,h5 ,h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

h2 {
    
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
 
    font-size: 1.5rem;
    color: black;
}

/*background-colors*/
.white-background{
    background-color: #fff;
}

/*heading*/

.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
}

/*features / icons */

.container-fluid {
    padding: 1% 15%;
}
.fa-heart {
    color: #ef8172;

}
.fa-heart:hover {
    color: rgb(255, 0, 0);
}
.fa-bullseye {
    color: #ef8172;


}
.fa-bullseye:hover {
    color: rgb(46, 222, 235);
}
.fa-circle-check {
    color: #ef8172;
    
}
.fa-circle-check:hover {
    color: rgb(55, 253, 71);
}
.btn {
    font-style: italic;

}
#features {
    padding: 7% 15%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    color: #8f8f8f;
    position: relative;
    z-index: 1;

}
/*navbar */

.navbar {
    padding: 0 0 4.5rem;

}
.navbar-brand {
    font-family: 'Lobster', 'cursive';
    font-size: 2rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Ubuntu', 'cursive';

}

/*Images of the head*/

.Title-image {
    width: 17.5%;
    margin-left: 100px;
    position: absolute;

}
/*Download Buttons*/

.download-btn {
    margin: 5% 3% 5% 2%;
}

/*testimonials section*/

#testimonials {
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item {
    padding: 4% 15%;
}

/*press section*/

#press {
    background-color: #ef8172;
    padding-bottom: 3%;

}
.press-img {
    width: 5%;
    margin: 20px 20px 50px;
}


/*pricing cards section*/

#pricing{
    padding-top: 3%;
}
.Pricing-text{
    font-family: 'Montserrat', sans-serif;
}
.card-group{
    padding-bottom: 4%;
}
.card-header3 {
    background-color: rgb(252, 240, 66);
    color: black;
}
.card-header2 {
    background-color: rgb(173, 34, 253);
    color: rgb(252, 252, 252);
}
.card-header {
    background-color: rgb(104, 102, 105);
    color: rgb(252, 252, 252);
}

/*media query section*/
@media (max-width: 1028px) {

    #title {
        text-align: center;
    }
    .Title-image {
        position: static;
        width: 50%;
        margin-left: 10px;

    }
    .press-img {
        width: 10%;

    }
    #cta {
        text-align: ce;
    }

    .testimonial-image {
        width: 30%;}

}

/*footer section*/

#footer {
    padding-top: 2%;
}
/*cta section*/

#cta {
    background-color: #ff4c68;
    color: #fff;
}

/*footer btns*/

.twitter-btn{
    margin-right:10px;
    color: black;
}
.fa-github{
    margin-right:10px;
    color: black;
}
.fa-whatsapp{
    color: black;
}
.twitter-btn:hover{
    margin-right:10px;
    color: #1596ff;
}
.fa-github:hover{
    color: #3f3e3e;
}
.fa-whatsapp:hover{
    color:#2c9e2c;
}